body
{
    margin: 0;
   background-image: url(../img/slider4.png);
   background-size: cover;
   background-attachment: fixed;
    font-family: 'Rubik';
}
/*Begin css NAVEGATION*/
.pag-nav
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fdd639;
   border-radius: 20px;
   position: relative;
   z-index: 12;
}

.enlaces
{
    display: flex;
    align-items: center;
    margin-right: 140px;
}
.enlaces #a
{
    padding: 20px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: #fff;
    margin-left: 40px;
}
.enlaces #a:hover
{
    background-color: #F9E79F;
    border-radius: 10px;
    transition: ease-in .2s;
}
.icon a{
    display: flex;
    align-self: center;
    width: 100%;
}
.icon img 
{
    border-radius: 50%;
    width: 45px;
    margin-top: 6px;
    margin-left: 20px;
}
@media screen and (max-width: 900px) {
    .enlaces{
        font-size: 10px;
        text-align: justify;
    }
}


#button {
    position: static;
    padding: 13px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: #fff;
    background-color: #5DADE2;
    border-radius: 10px;
    margin: 25px;
    top:60px;
    overflow: hidden;
    box-shadow: 2px 2px 3px #999;
    
}

#button:hover
{
    background-color: #fdd639de;
    transition: ease-in .2s;
}

.text-center
{
    position: absolute;
    bottom: 255px;
}

        /*BEGIN USER*/

        .u-full-width {
            width: 100%;
            box-sizing: border-box; 
        }
            .u-pull-right {
                float: right; 
            }
        
                ul {
                    list-style: none;
                }
                .submenu #usuario{
                    display: none;
                }
                .submenu:hover #usuario{
                    display: block;
                    position: absolute;
                    top: 77%;
                    right: 0;
                    z-index: 100;
                    background: aliceblue;
                    padding: 10px 30px 10px 0px;
                    border-radius: 20px;
                    color: black;
                    text-align: center;
                    box-shadow: 2px 2px 3px #999;
                }
                ul #us
                {
                    display: grid;
                    width: 110px;
                    text-align: center;
                    text-decoration: none;
                    font-weight: 700;
                    color: black;
                }
                ul #us:hover
                {
                    color: white;
                }        
                #icons-nav
                {
                width: 32px; 
                height: 31px;
                }
       
        /*END USER*/



        /*COMUNICATION-WHATSAPP*/
        #watsapp
        {
            position: fixed;
            width:60px;
            height: 60px;
            z-index: 100;
            right:20px;
            bottom: 18px;
            align-items: center;
            background-color: #25d366;
            border-radius: 40px;
            box-shadow: 2px 2px 3px #999;
        }
        #icon-wat
        {
            position: fixed;
            width:40px;
            height:35px;
            z-index: 101;
            right:30px;
            bottom: 30px;
            background-color: #25d366;
        }
        /*END-WHATSAPP*/


/*CONTAINER*/



.contenido-carrito
{
    display: flexbox;
    text-align: center;

}
fieldset{
    display: inline-flexbox;
    float: left;
    width: 45%;
    height: 600px;
    margin: 90px 0px 80px 60px;
    background-color: rgb(207, 241, 252);
    border-radius: 5em;
    box-shadow: 2px 2px 3px #999;
}
#car{
    color: #414141;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Amaranth', sans-serif;
    text-shadow: 5px 5px 5px #fff;
}
#trash{
    color: #A569BD;
    margin: 5px 10px 5px 15px;
}

.panel-body
{
    position: static;
    display: inline-flexbox;    
    text-align: center;
    width: 90%;
    height: 400px;
    background-color: #fff;
    margin: 15px auto;
    border-radius: 5em;
}

/*TABLE STYLE*/
table
{
    position: relative;
    margin: 0px 0px 0px 150px;
}
th{
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Amaranth', sans-serif;
    font-weight: 700;
}
td {
    letter-spacing: 1px;
    font-family: 'Amaranth', sans-serif;
  }
  
  tbody td {
    text-align: center;
  }
  tbody tr:nth-child(odd) {
    background-color:  #e1bee7;
    color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: rgb(215, 232, 248);
    color: #414141;
  }
  
  
  table {
      width: 100%;
      position: static;
      margin: 15px auto;
      background-color: #fff;
    }
  .text-total{
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Amaranth', sans-serif;
    font-weight: 600;
    color: #fff;
    background-color: #e1bee7;

  }

/*TABLE STYLE*/

/*SECOND FIGURE*/


.shipAddr{
    position: relative;
    width: 30%;
    height: 300px;
    float: right;
    margin: 170px 80px 0 0px;
    background-color: #e1bee7;
    border-radius: 4em;
    box-shadow: 2px 2px 3px #999;
    }

.shipAddr h4{
    color: #414141;
    font-size: 25px;
    font-family: 'Amaranth', sans-serif;
    text-shadow: 5px 5px 5px #fff;
    font-weight: bolder;
}
.conte-envio
{
    font-family: 'Amaranth', sans-serif;
    background-color: #fff;
    width: 85%;
    height: 160px;
    border-radius: 2em;
    margin: 15px auto;
}


/*SECOND FIGURE*/


/*FOOTER*/

footer
{
    width: 100%;
    margin-top: 50px;
    position: absolute;
    top: 800px;
    background: #414141;
    padding: 100px auto;
    overflow: hidden;
    z-index: 100;
}
.container-footer
{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.content-footer
{
    text-align: center;
}
.content-footer h4
{
    color: #fff;
    border-bottom: 3px solid #85C1E9;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.content-footer p
{
    color: #ccc;
}
.tittle-foot
{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9e9e;
}
@media screen and (max-width: 200px) {
    .footer{
        position: absolute;
        top: 400px;
    }    
}